* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Calibri', 'Verdana', 'Tahoma';
    padding: 5px;
}

h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

.main {
    width: 95%;
    margin: 10px auto;
    padding: 1em;
    font-size: 1.4em;
    position: relative;
    /*background-image: linear-gradient(#d9d9d9, #f2f2f2);*/
    background-image: linear-gradient(#9fbfdf, #ecf2f9);
    min-height: 600px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.details {
    min-width: 50%;
    border: 1px solid black;
    border-radius: 5px;
}

.details th, td {
  border-bottom: 1px solid #ddd;
  padding: 5px;
}

.details tr:hover {background-color: #4080bf;}

.contact-detail {
    width: 50%;
}

.form-group {
    border-radius: 5px;
    background-image: linear-gradient(#4080bf, #2d5986);
    padding: 20px;
    margin-top: 5px;
}

.form-group input{
    font-size: 1em;
    padding: 0.1em 0.1em;
    width: 60%;
}

.c-det-input {
    float: right;
}

.btn-save {
    font-size: 1.2em;
    padding: 5px;
}

.home_link {
    font-size: 0.7em;
}