body {
    font-family: 'Calibri', 'Verdana', 'Tahoma';
}

h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

.main {
    width: 95%;
    margin: 10px auto;
    padding: 1em;
    font-size: 1.4em;
    position: relative;
    background-image: linear-gradient(#9fbfdf, #ecf2f9);
    min-height: 600px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.version {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-family: tahoma;
    font-size: 0.7em;
}

ul {
    list-style: none;
}

.new_contact {
    margin: 0 auto;
    width: 50%;
}

.block {
    display: block;
}

.input-xl{
    font-size: 1em;
    padding: 0.1em 0.1em;
}

.btn-xl{
    font-size: 1em;
    padding: 0.1em 0.1em;
}

.table-striped thead th{
  background-color: #404040;
  color: #fff;  
}

.table-striped{
    border-spacing: 0px;
    border-collapse: separate;
}

.table-striped tr:nth-child(even) {
  background-color: #e6e6e6;
  color: #000;
}
.table-striped tr:nth-child(odd) {
  background-color: #bfbfbf;
  color: #000;
}

.table-bordered td th {
  margin: 0px;
  padding: 0.1em;
  border: 0.5px solid #000;
}
